.custom-card {
  border: 1px solid blue;
}

.form-length {
  max-width: 200px;
}

.custom-label {
  margin: 2px;
}

hr {
  margin: 0.4rem 0;
  height: 0;
}

.custom-input {
  width: 300px !important;
  /* box-shadow: 2px #888888; */
  border: 1px solid #e2e2e2;
}

.form-box {
  margin: 2px 0;
  padding: 8px 1px 4px 1px !important ;
  /* background-color: #ede7f6; */
  border-radius: 4px;
}
.form-input-box {
  margin: 2px 10px;
  padding: 8px 8px 8px 10px !important ;
  /* background-color: white; */
  /* box-shadow: 1px 2px #888888; */
  border-radius: 4px;
}

/* This below active class is for create extension menu  */
.active-menu-class {
  background-color: white !important;
  color: blue;
}
.active-menu-class:hover {
  background-color: white !important;
  color: blue;
}

/* .admin login */
.login-image {
  background-image: url("https://cdn.pixabay.com/photo/2017/07/06/03/00/electrical-2476783_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  box-shadow: 0px 1px grey !important;
}
